* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  .gallery {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    padding: 0 ;
    height: 100vh;
    width: 100vw;
      }
  .img-container {
    height: 100%;
    width: 100%;
    background: url("collage.jpeg");
    background-size: cover;
    background-position: center;
    color: #000000;
    object-fit: cover;
    opacity: 0.9;
  }
.view{
  background: rgba(0, 0, 0, 0.8);
  color: #fdfdfdf5;
  mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
  border-radius: 8px;
  width: 150px ;
  height: 30px;
  transform: translateX(-30px);
}
.view:hover{
   background-color:#7e8a97 ;
   color: black;
   transform:translate(1.2) scale(1) ease-in;
}
  .background-shade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-top: 10px;
   
    margin-top: 20px;
    position: absolute;
    min-width: 30vh;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 20px;
    min-height: 30vh;

    color: white;
    background: rgba(0, 0, 0, 0.8);
    font-weight: bold;
  
   border: 4px solid white;
  }
  .view{
    
    margin-top: 40px;
    bottom: 0px;
    margin-bottom: 10px;
  }
  .carousel-toggle {
    margin: auto;
  }
  .image-carousel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.959);
    display: none;
  }
  .carousel {
    height: 50%;
    width: 50%;
    margin: auto;
  }
  
  .close-btn {
    position: absolute;
    right: 5%;
    top: 5%;
    height: 25px;
    width: 26px;
    background: black;
  }
  .carousel-indicators{
    position: static;
  } 
  .sliderr{
    margin-top: 20px;
    justify-content: center;
    display: flex !important;
    position: static;
}  
.carousel-control-next, .carousel-control-prev{
  position: static;
}
.w-100 {
  width: 50vw !important;
}
.d-block w-100{
  height: 100% !important;
}

.carousel-item {
    max-height: 60vh;
}